body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type=date], input[type=url], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}

.headline {
  text-align: center;
}

.map {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 50px;
}

ul.widget__list {
  list-style: none;
  height: 650px;
  overflow-y: scroll;
  direction: rtl;
  padding-left: 20px;
}

ul.widget__list2 {
  margin-top: 50px;
  list-style: none;
  height: 640px;
  overflow-y: scroll;
}

li.destinations {
  width: 100%;
  height: 133px;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding-left: 20px;
  margin-left: 10px;
  border-radius: 10px;
}

li.activities {
  padding: 40px;
  margin: 10px 0;
  border: 2px solid #666;
  border-radius: 5px;
}

li.destinations h4 {
    text-align: center;
    margin: 0;
    position: relative;
    top: 55px;
    left: 60px;
}

li.activities h4 {
  text-align: center;
}


li img.img-location {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 132px;
  left: 0px;
  top: 0;
  border-radius: 10px 0 0 10px;
}

li img.img-data {
  float: left;
  position:relative;
  border: 15px solid #666;
  padding: 10px;
  margin-right: 20px;
}

li p.destination-info {
    font-family: "Lora", serif;
    font-size: 14px;
    letter-spacing: 0.015em;
    line-height: 2em;
    color: #656565;
}

footer {
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 100%;
  overflow:hidden;
}

.place{
  border:1px solid black;
  border-radius: 10px;
}

.markerAnimation {
  transform: rotate(25deg);
}

@media(max-width:767px){

  li.destinations {
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 10px;
  }

  li.destinations h4 {
    text-align: center;
    margin: 0;
    position: relative;
    top: 155px;
    left: 0;
  }

  li img.img-location {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 132px;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
  }
}



